BasedOnStyle: LLVM
ColumnLimit: 120
UseTab: Always
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AlignOperands: false
BreakBeforeTernaryOperators: false